 body{
margin:0;
font-family:Arial;
background:linear-gradient(180deg,#1a002f,#2d0057,#140021);
color:white;
}

.header{
text-align:center;
padding:15px;
background:#20003d;
}

.banner{
padding:30px;
text-align:center;
font-size:22px;
background:linear-gradient(90deg,#ff00ff,#6a00ff);
border-radius:20px;
margin:15px;
}

.search-box{
display:flex;
justify-content:center;
margin:10px;
}

input{
width:65%;
padding:12px;
border-radius:25px;
border:none;
font-size:16px;
}

button{
padding:12px 18px;
border:none;
border-radius:25px;
margin-left:8px;
background:#ff00ff;
color:white;
font-weight:bold;
cursor:pointer;
}

.results{
padding:15px;
}

.card{
background:#2a004d;
margin:10px 0;
padding:10px;
border-radius:15px;
display:flex;
align-items:center;
cursor:pointer;
}

.card img{
width:90px;
border-radius:10px;
margin-right:10px;
}

.mini-player{
position:fixed;
bottom:60px;
width:100%;
background:#20003d;
padding:10px;
text-align:center;
}

.bottom-nav{
position:fixed;
bottom:0;
width:100%;
display:flex;
justify-content:space-around;
background:#140021;
padding:10px;
}

.bottom-nav button{
background:none;
color:white;
font-size:14px;
}